:root {
  /* default light colors, going to create dark mode as option */
  --primary: white;
  --text-color: black;
  --theme-color: #abf2ff;
}
/* form style */
::-webkit-input-placeholder {
  text-align: center;
}

.submit-button{
  margin: 20px 0;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.form-item{
  margin: 20px 0;
}

.home-img{
  margin-bottom: 50px;
  width: 100%;
}

.featured{
  font-family: 'Lora', serif;
  margin: 0 auto;
}

/* icon svg default style */

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.cart-icon-div {
  font-size: calc(60px + (90px - 60) * ((100vw - 300px) / (1600 - 300)));
  margin: 0;
  padding: 10px;
}

.cart-icon {
  font-size: calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300)));
  color: var(--theme-color);
}

.cart-div {
  display: inline;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0px;
  right: 45px;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */


body {
  margin: 0;
  padding: 0;

  background-color: var(--primary);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;

}


.contact-link {
  color: blue;
}

.placeholder {
  display: block;
  width: 100%;
  height: auto;
  background-color: white;
}

.header {
  margin: 0;
  padding: 0;
}

.logo {
  margin-bottom: 10px;
}


.shop-amount {
  text-align: center;
  padding: 10px;
}

/* .row{
  width: 100%;
} */

/* top nav */
.top-nav {
  padding: 25px;
}

.top-nav-item {
  padding: 15px 0;
  font-family: 'Lora', serif;
}

@media((min-width:768px) and (max-width:918)) {
  .top-nav-item {
    padding-left: calc(5px + (15px - 5) * ((100vw - 768px) / (918 - 768)));
    padding-right: calc(5px + (15px - 5) * ((100vw - 768px) / (918 - 768)));
  }
}

.shop-dropdown {
  background-color: transparent;
  border: none;
}

.small-nav {
  padding-bottom: 20px;
}

/* about page */

.about-div {
  padding-bottom: 50px;
}

.about-title{
  font-family: 'Lora', serif;
}

/* product pages */

.product-group-title{
  font-family: 'Lora', serif;
}
.product {
  padding: 20px;
}

.product-link:hover{
  color:var(--text-color);
}

.product-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-img{
  height: 300px;
}

.product-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.single-div{
  margin: 50px auto;
}

.single-info{
  margin: auto;
  text-align: center;
}

.footer {
  background-color: var(--theme-color);
}